spring:
  application:
    name: api
  jpa:
    database: postgresql
    show-sql: true
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:postgresql://localhost/Merkand
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
token:
  signing:
    key: 413F4428472B4B6250655368566D5970337336763979244226452948404D6351

