spring:
  application:
    name: api
  jpa:
    database: postgresql
    show-sql: true
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:postgresql://localhost/Merkand
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver
